* {
    box-sizing: border-box;
}

input[type="checkbox"]{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    color: black;
    font-weight: bold

}

h1
{
    text-transform: uppercase;
    text-align: center;
}

.states
{
    margin: 0 auto;
}

input[type="submit"]
{
    padding: 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: blue;
}

a{
   text-decoration: underline;
   color: black;
   font-size: 15px;
   font-weight: 100;
}

input[type="text"]{
    padding: 10px;
    color: black;
    font-weight: bold;
     border: 3px solid #eee;
}

form
{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#park_info
{
    
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 15px;
     width: 80%;
}

